.page-intro {
  .page-intro__text {
    font-family: $font-family;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: $white;
    text-align: center;
    margin: 0;
    padding: 36px 0;
  }
}
