.gallery {
  .gallery__description {
    font-family: $font-family;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    padding: 54px 35px;
    margin: 0;
  }
}
