.button {
  font-family: $font-family;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 2px;
  min-width: 280px;
  margin: 0 auto 45px;
  padding: 20px 45px;
  display: flex;
  justify-content: center;
}
