.control {
  &:focus-within {
    .control__mark {
      border-color: $green;
    }
  }

  .control__mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    border: 2px solid $gray;
    background-color: $white;

    &--checkbox {
      border-radius: 2px;
    }

    &--radio {
      border-radius: 50%;
    }

    &:hover {
      border-color: $blue-gray;
    }

    &:active {
      border-color: $pink;
    }
  }

  .control__label {
    font-family: $font-family;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: $blue-gray;
    margin-left: 60px;
  }
}
