.registration {
  .registration__wrapper {
    @media (min-width: $tablet-width) {
      padding: 0 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 130px;
    }
  }

  .registration__description {
    font-family: $font-family;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    padding: 54px 20px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      padding: 100px 65px 80px;
    }

    @media (min-width: $desktop-width) {
      padding: 100px 90px;
    }
  }

  .registration__description-inner {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}
