.registration-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    .registration-form__personal-data-section {
      order: -5;
      padding: 0;
    }

    .registration-form__achievements-section {
      order: -2;
    }

    .registration-form__user-data-section {
      order: -3;
    }

    .registration-form__app-section {
      order: -4;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .registration-form__personal-data-section {
      min-width: 435px;
    }

    .registration-form__app-section {
      min-width: 435px;
    }

    .registration-form__user-data-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .registration-form__achievements-section {
      min-width: 100%;
    }
  }

  .registration-form__fieldset {
    position: relative;
    margin: 0;
    margin-bottom: 44px;
    border: none;

    &--framed {
      @media (min-width: $tablet-width) {
        padding: 0 60px;
        border: 2px solid $gray;
      }
    }

    @media (max-width: $mobile-width-only) {
      padding: 0 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 64px;
    }
  }

  .registration-form__fieldset-wrapper {
    background-color: $light-gray;
    padding-top: 40px;
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin: 0;
      background-color: $white;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }

  .registration-form__personal-data {
    &:not(:last-child) {
      margin-bottom: 25px;

      @media (min-width: $tablet-width) {
        margin-bottom: 56px;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
    }
  }

  .registration-form__user-data {
    &:not(:last-child) {
      margin-bottom: 31px;

      @media (min-width: $desktop-width) {
        margin-bottom: 13px;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 27px;
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 13px;
      width: 100%;
    }
  }

  .registration-form__text-label {
    font-family: $font-family;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: $pink;
    display: inline-block;
    margin-left: 23px;
    margin-bottom: 7px;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-right: 20px;
    }
  }

  .registration-form__user-data-label {
    @media (min-width: $tablet-width) {
      margin-top: 12px;
      margin-left: 17px;
      order: 2;
    }
  }

  .registration-form__text-input {
    position: relative;
    width: 100%;
    padding: 22px 20px;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: 2px solid $gray;
    border-radius: 2px;

    &::placeholder {
      font-family: $font-family;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: $blue-gray;
    }

    &:hover {
      border-color: $blue-gray;
    }

    &:focus {
      border-color: $green;
    }

    &:active {
      border-color: $pink;
    }

    @media (min-width: $tablet-width) {
      padding-right: 65px;
    }
  }

  .registration-form__legend {
    font-family: $font-family;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $pink;
    text-align: center;
    padding: 0;
    max-width: 218px;

    @media (min-width: $tablet-width) {
      max-width: initial;
      box-shadow: 0 0 0 25px $white;
    }

    @media (min-width: $tablet-width) {
      box-shadow: 0 0 0 30px $white;
    }
  }

  .registration-form__user-data-section-legend {
    display: none;

    @media (min-width: $tablet-width) {
      margin-bottom: 41px;
      display: block;
    }
  }

  .registration-form__user-phone {
    position: relative;

    @media (min-width: $tablet-width) {
      &::before {
        content: "";
        position: absolute;
        width: 59px;
        height: 61px;
        background-color: $gray;
        background-image: url("../img/index/phone-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        right: 2px;
        top: 1px;
        z-index: 2;
      }
    }

    @media (min-width: $desktop-width) {
      margin-right: 74px;
    }
  }

  .registration-form__user-email {
    position: relative;

    @media (min-width: $tablet-width) {
      &::before {
        content: "";
        position: absolute;
        width: 59px;
        height: 61px;
        background-color: $gray;
        background-image: url("../img/index/mail-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        right: 2px;
        top: 1px;
        z-index: 2;
      }
    }
  }

  .registration-form__button-wrapper {
    @media (min-width: $tablet-width) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .registration-form__button {
    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  .registration-form__hint {
    font-family: $font-family;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: $blue-gray;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  .registration-form__asterisk {
    color: $pink;
  }
}
