.registration-form {
  .registration-form__fieldset {
    padding: 42px 20px;
    margin: 0;
    border: none;
  }

  .registration-form__fieldset-wrapper {
    background-color: $light-gray;
    padding-top: 40px;
  }

  .registration-form__text-label {
    font-family: $font-family;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: $pink;
    display: inline-block;
    padding-left: 23px;
    margin-bottom: 15px;
  }

  .registration-form__text-input {
    width: 100%;
    padding: 23px 20px;
    margin: 0;
    margin-bottom: 25px;
    max-width: 276px;

    &::placeholder {
      font-family: $font-family;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: $blue-gray;
    }
  }

  .registration-form__legend {
    font-family: $font-family;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $pink;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 0;
  }

  .registration-form__hint {
    font-family: $font-family;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: $blue-gray;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
  }

  .registration-form__asterisk {
    color: $pink;
  }
}
